<p><%= link_to 'Edit', edit_production_path(@production) %><p>
<p><%= link_to 'Unpublish this Production', publish_production_path(@production) %></p> 
<%= button_to "Delete this Production", delete_production_path(@production), method: :delete %>