<h1>Edit Production</h1>

<% if current_user && current_user.id == @production.user.id %>

    <%= render 'form' %>

<p><%= link_to "Never mind, it's perfect!", production_path(@production) %></p>

<% else %>

    <%= render 'application/unknown' %>

<% end %>

<%= render 'application/explore' %>
    

