<h1>All Productions</h1>
<% @productions.each do |production| %>
    <h4><%= production.title %></h4>
    <p><%= production.company.name %></p>
    <p><%= production.opening %> - <%= production.closing %></p>
<% end %>