<% if !user_signed_in? %>
    <h3><%= link_to 'Signup', new_user_registration_path %> or <%= link_to 'Login', new_user_session_path %> to correct a company listing in our database!</h3>
    <br>
    <p>or</p>
<% else %>
<h4>Correct company name:</h4>
<%= render 'form' %>
<% end %>