<h1>All Companies</h1>
<% @companies.each do |company| %>
    <h4><%= link_to company.name, company_path(company) %></h4>
    <% if company.productions.published == [] %>
        <p>There are currently no production listings for <%= company.name %>.</p>
    <% else%>
        <p>See listings for <%= company.name %> above.</p>
    <% end %>
<% end %>